body {
  font-family: "Montserrat", sans-serif;
  background-color: #f6f0eb;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  justify-content: center;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
aside {
  width: 370px;
  background-color: rgba(125, 5, 6, 1);
  background-image: linear-gradient(
    136deg,
    rgba(125, 5, 6, 1) 22%,
    rgba(41, 53, 86, 1) 81%
  );
}
.cv-photo {
  margin-top: 25px;
}
.header-secondary {
  color: #ffffff;
}
.contact-links {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}
.list-secondary {
  color: #fb6d3a;
  font-size: 14px;
  line-height: 24px;
  margin-left: 0;
  padding-left: 0;
  list-style-position: inside;
}
.list-secondary-item {
  color: #ffffff;
  font-size: 18px;
}
.contact-block {
  margin-top: 51px;
  margin-left: 40px;
}
.tech-skills-block {
  margin-top: 47px;
  margin-left: 40px;
}
.soft-skills-block {
  margin-top: 44px;
  margin-left: 40px;
}
main {
  padding: 102px 88px 102px 88px;
}
.main-description {
  width: 554px;
}
.job-title {
  font-weight: 700px;
  font-size: 14px;
  line-height: 17px;
}
h1 {
  font-weight: 700px;
  font-size: 45px;
  line-height: 15px;
  margin-top: 40px;
  color: rgba(125, 5, 6, 1);
}
.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  margin-bottom: 40px;
  margin-top: 40px;
}
.projects {
  width: 485px;
  margin-bottom: 51px;
}
.list-primary {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  padding-left: 0;
  list-style-position: inside;
}
.list-primary-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
}
.list-primary-link {
  color: rgba(125, 5, 6, 1);
}
.header-primary {
  font-size: 22px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 12px;
}
.job-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}
.highlight {
  color: rgba(125, 5, 6, 1);
}
.job-date {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: #a8a8a8;
}
.job-list {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #595959;
  padding-left: 20;
}
h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}
.rodo {
  font-size: 10px;
  width: 700px;
  color: #595959;
  margin-top: 60px;
}
